asteval==0.9.32
colour==0.1.5
contourpy==1.2.0
cycler==0.12.1
et-xmlfile==1.1.0
fonttools==4.49.0
future==1.0.0
kiwisolver==1.4.5
lmfit==1.2.2
matplotlib==3.8.3
numpy==1.26.4
openpyxl==3.1.2
packaging==23.2
pandas==2.2.1
pillow==10.2.0
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.12
PyQt5-sip==12.13.0
python-dateutil==2.9.0.post0
pytz==2024.1
scipy==1.12.0
seaborn==0.13.2
six==1.16.0
tqdm==4.66.2
tzdata==2024.1
uncertainties==3.1.7
