colour # analysis code 
sphinx-rtd-theme # doc
seaborn # analysis code 
scipy==1.9.3 # control code 
matplotlib==3.6.2 # control code 
microscope==0.6.0 # control code
numpy==1.22.4 # control code 
pandas==1.5.2 # control code 
PyQt5==5.15.4 # control code 
pyserial==3.5 # control code 
tqdm # analysis code 
zhinst==22.8.1 # control code 
zhinst-core==22.8.35048 # control code 
zhinst-toolkit==0.4.1 # control code 
zhinst-utils==0.1.0 # control code 

